*{
    margin:0px;
    }
 #header {
        color: #65451F;
        text-align: center;
        padding: 11px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    .nav-link:hover{
        color:white;
    }
    
    .logo-container {
        display: flex;
        align-items: center;
    }
    
    .logo {
        max-width: 100%;
        height: auto;
        width: 80px; 
        margin-right: 5px; 
        border-radius: 20px;
    }
    
    nav {
        display: flex;
      
    }
    
    .nav-link {
        color: #CA965C;
        text-decoration: none;
        margin: 0 20px;
        font-weight: bold;
    }
    body{
    background-image: url('bg4.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; 
    padding: 0;
    overflow: hidden;  
    
}
.card-container {
    text-align: center;
    padding-left: 450px;
}

.card {
    background-color: rgb(244,223,186,0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    
   
}
.card:hover{
        cursor: pointer; 
        background-color: rgb(202, 150, 92,0.2);
    
     
}


h2 {
    text-align: center;
    color: black;
}

.menu-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

.menu-list li {
    margin-bottom: 20px;
}

.menu-list h3 {
    color: #65451F;
}
.menu-list h3:hover {
    color: white;
}
.menu-list p {
    margin: 0;
    color:black;
}
.menu-list p:hover {
    margin: 0;
    color: white;
}
